/*
Theme Name: Fooz test
Description: Theme for Fooz test
Author: Piotr Balcerak
Template: twentytwentyfive
Version: 1.0.0
Text Domain: fooz-test
Requires at least: 6.9
Tested up to: 6.9
Requires PHP: 8.2
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/