.c-book__link {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  gap: var(--wp--preset--spacing--20);
  height: 100%;
}

.c-book__link:focus {
  outline: none;
}

.c-book__title {
  transition: transform .3s ease-in-out;
  margin: 0;
}

.c-book__genres {
  display: flex;
  gap: 0.25rem;
  flex-wrap: wrap;
}

.c-book__genre-tag {
  font-size: 0.75rem;
  border-radius: 20px;
  border: 0.8px solid var(--wp--preset--color--accent-6);
  font-weight: 400;
  padding: 0.25rem 0.5rem;
  text-decoration: none;
}

.c-book__date {
  color: var(--wp--preset--color--accent-4);
  font-size: var(--wp--preset--font-size--small);
  margin: 0;
}

.c-book__thumb-container {
  width: 100%;
  aspect-ratio: 90 / 125;
  background: var(--wp--preset--color--base-2);
  overflow: hidden;
  display: block;
  position: relative;
}

.c-book__thumb {
  width: 101%;
  height: 101%;
  object-fit: cover;
  transition: transform 200ms ease;
  will-change: transform;
}

.c-book__link:hover,
.c-book__link:focus-visible {
  .c-book__thumb {
    transform: scale(1.1);
  }

  .c-book__title {
    text-decoration: underline;
  }
}

.c-book__excerpt {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  font-size: 0.875rem;
  line-height: 1.5;
  color: inherit;
  opacity: 0.75;
  margin-top: 0;
}

.c-book__excerpt p {
  margin: 0;
}