@use "../settings" as s;

.c-book-list {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: var(--wp-preset--spacing-40, 2rem);

  @media (max-width: s.$breakpoint-xl) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media (max-width: s.$breakpoint-lg) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: s.$breakpoint-md) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: s.$breakpoint-sm) {
    grid-template-columns: 1fr;
  }
}

.c-book-list.is-layout-flow > :first-child {
  margin-block-start: 1rem;
}